<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1.html">
<head>
<meta charset="utf-8">
<title>Form Patient</title>
</head>
<body>
	<div layout:fragment="pageContent">
		<div class="container mt-5">
			<div class="card">
				<div class="card-header" th:if="${mode=='new'}">Formulaire de
					saisir un nouveau patient</div>
				<div class="card-header" th:if="${mode=='edit'}">Formulaire
					pour editer un patient</div>
				<div class="card-body ">
					<form th:action="@{savePatient}" method="post">
						<div class="form-group">
							<label class="control-label">ID :</label> <label
								class="control-label" th:text="${patients.id}"></label> <input
								type="hidden" name="id" class="form-control"
								th:value="${patients.id}" />
						</div>
						<div class="form-group">
							<label class="control-label">Nom :</label> <input type="text"
								name="name" class="form-control" th:value="${patients.nom}" />
							<span th:errors=${patients.nom} class="text-danger"></span>
						</div>
						<div class="form-group">
							<label class="control-label">Score :</label> <input type="text"
								name="score" class="form-control" th:value="${patients.score}" />
							<span th:errors=${patients.score} class="text-danger"></span>
						</div>
						<div class="form-group">
							<label class="control-label">Date de naissance :</label> <input
								type="date" name="dateNaissance" class="form-control"
								th:value="${patients.datednaissance}" /> <span
								th:errors=${patients.datednaissance} class="text-danger"></span>
						</div>
						<div class="form-group">
							<label class="form-check-label">Malade : </label> <input
								type="checkbox" name="malade" class="form-check-input col-1"
								th:checked="${patients.malade}" /> <span
								th:errors=${patients.malade} class="text-danger"></span>
						</div>
						<button class="btn btn-success" type="submit">Save</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>